html, body{
    margin: 0px;
    font-size: 12px;
}

ul{
    list-style: none;
}

.ui-widget {
    font-size: 80%;
}

#menu_bar{
    width: 100%;
    height: 48px;
    background: #eeeeee;
}

#content_frame{
    width: 100%;
    height: calc(100% - 48px);
}

#preview_frame{
    width: calc(100% - 320px);
    height: 100%;
}

#preview{
    width: 100%;
    height: 100%;
}

#inspector_frame{
    width: 320px;
    height: 100%;
    background: #eeeeee;
    vertical-align: top;
}

.selector{
    padding: 0px;
    margin: 10px;
    background: #FFFFFF;
    border: #555555 solid 1px;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}

.selector ul{
    padding: 0px;
    margin: 0px;
}

.selector li{
    padding: 3px;
    border-bottom: dotted rgba(0, 0, 0, 0.5) 1px;
}

.selected{
    background: #333333;
    color: #ffffff;
}