.inspector_box{
    position: absolute;
    z-index: 255;
    background-color: #eeeeee;
    border-radius: 5px;
    border: dotted 1px black;
    opacity: 0.8;
    overflow: hidden;
}

#inspector label{
    display: block;
    padding: 10px 20px;
    background-color: #dddddd;
    cursor: move;
}

#inspector ul{
    padding-left: 0px;
}

#inspector li{
    padding: 0px 10px;
    list-style: none;
    cursor: default;
}

#inspector .selected{
    background-color: #666666;
    color: #ffffff;
}

.selected_object{
    outline: solid red 2px;
}