.contain{
	background-size: contain;
	background-repeat: no-repeat;
}

.cover{
	background-size: cover;
	background-repeat: no-repeat;
}

.right-align{
	background-position: right;
}

.bottom-align{
	background-position: bottom;
}

.title{
	font-family: "Georgia";
	font-size: 4.44vw;
	font-weight: lighter;
}

#homebg{
	background-image: url(katana/homebg.jpg);
}

#homebgb{
	background-image: url(katana/homebgb.jpg);
}

.homelogolight{
	background-repeat: no-repeat;
}

#homelogolighta{
	background-image: url(katana/homelogolighta.png);
	width: 235px;
	height: 254px;
}

#homelogolightb{
	background-image: url(katana/homelogolightb.png);
	width: 250px;
	height: 250px;
	background-position: left top;
}

#homesakurad{
	background-image: url(katana/homesakurad.png);
}

#homesakurae{
	background-image: url(katana/homesakurae.png);
}

#homesakuraf{
	background-image: url(katana/homesakuraf.png);
}

#websitebg{
	background-image: url(katana/websitebg.jpg);
}

#websitewbg{
	background: white;
	text-align: center;
}

#websitewbg .title{
	padding-top: 7.8vh;
	display: inline-block;
}

#websiteleafa{
	background-image: url(katana/websiteleafa.png);
}

#websiteleafb{
	background-image: url(katana/websiteleafb.png);
}

#websiteleafc{
	background-image: url(katana/websiteleafc.png);
}

#websiteleafd{
	background-image: url(katana/websiteleafd.png);
}

#websitedevices{
	background-image: url(katana/websitedevices.png);
}

#interbg{
	background-image: url(katana/interbg.jpg);
}

#brandcarda{
	background-image: url(katana/brandcarda.png);
}
#brandcardb{
	background-image: url(katana/brandcardb.png);
}
#brandcardc{
	background-image: url(katana/brandcardc.png);
}
#brandcardd{
	background-image: url(katana/brandcardd.png);
}
#brandclip{
	background-image: url(katana/brandclip.png);
}
#brandpen{
	background-image: url(katana/brandpen.png);
}

#videobg{
	background-image: url(katana/videobg.jpg);
}

#supportbg{
	background-image: url(katana/supportbg.jpg);
}

/* Text */

.preview_container{
	color: white;
	padding-top: 20px;
}

.preview_container.black{
	color: black;
}

.preview_container.black .title_divider{
	border-color: black;
}

.tag_container{
	padding-bottom: 2vh;
}


.tag{
	font-family: sans-serif;
	font-size: 0.8vw;
	color: white;
	background: black;
	padding: 3px 10px;
	border-radius: 5px;
}

.tag.orange{
	background: #eb6100;
}
	
.tag.green{
	background: #009966;
}

.title{
	font-family: "Georgia";
	font-size: 2.6vw;
	font-weight: lighter;
}

.title_container{
	padding-bottom: 1.5vh;
}

.title_divider{
	margin-bottom: 2vh;
	border-top: 1px solid white;
	border-bottom: 0px;
}

.context, .context p, .context li{
	font-weight: lighter;
	font-size: 0.8vw;
	font-family: "Arial";
	line-height: 1.8;
}

.button_container{
	padding-top: 3vh;
	text-align: right;
}

.more_button{
	display: inline-block;
	color: black;
	background: white;
	padding: 2.3vh 1vw;
	border-radius: 8px;
}

.more_button.reverse{
	color: white;
	background: black;
}

.button_icon.more_info{
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 0.8em;
	padding: 0.3em;
	color: white;
	background-color: black;
	border-radius: 1em;
	margin: auto;
}

.button_label{
	display: inline-block;
	font-family: sans-serif;
	font-size: 1.0vw;
	font-weight: bold;
	margin: auto;
}
